<?xml version="1.0" encoding="UTF-8" standalone="no"?><configuration>
        	
    <entrypoint>INTEGRATION</entrypoint>
        	
    <!-- If no value is assigned a new uuid will be generated during first execution -->
    <uuid>73d0e1f6-6c1a-4d9e-9571-9c3df82e351f</uuid>
    
    <tempSharedFolder>C:/Users/legua/Documents/HIWI/Eclipse/Workspace/Architecture-And-StaticCode-Analyses-CouplingFramework/Framework Instances/SolidityExample/mocking folders for testing/TEMP</tempSharedFolder>
    <resultSharedFolder>C:/Users/legua/Documents/HIWI/Eclipse/Workspace/Architecture-And-StaticCode-Analyses-CouplingFramework/Framework Instances/SolidityExample/mocking folders for testing/RESULT</resultSharedFolder>
        	
    <pathsOfIDs>
        
        <pathOfID id="RESOLUTION_import_URI_SOLC_VERIFY">C:/Users/legua/Documents/HIWI/Eclipse/Workspace/SolidityAccessControlEnforcement/Projects/SolidityRoleAdapter/data/SolcVerifyResults.txt</pathOfID>
        <pathOfID id="RESOLUTION_import_URI_SLITHER">C:/Users/legua/Documents/HIWI/Eclipse/Workspace/SolidityAccessControlEnforcement/Projects/SolidityRoleAdapter/data/SlitherResults - Market.txt</pathOfID>
        <pathOfID id="RESOLUTION_import_URI_ROLE_ANNOTATIONS">C:/Users/legua/Documents/HIWI/Eclipse/Workspace/SolidityAccessControlEnforcement/Projects/SolidityRoleAdapter/data/RoleAnnotations.txt</pathOfID>
        <pathOfID id="RESOLUTION_export_URI_OF_RESULT_TXT_FILE">C:/Users/legua/Documents/HIWI/Eclipse/Workspace/SolidityAccessControlEnforcement/Projects/SolidityRoleAdapter/data/SolidityRoleAdapter - Results.txt</pathOfID>
        <pathOfID id="RESOLUTION_export_URI_OF_RESULT_JSON_FILE">C:/Users/legua/Documents/HIWI/Eclipse/Workspace/SolidityAccessControlEnforcement/Projects/SolidityRoleAdapter/data/SolidityRoleAdapter - Results.json</pathOfID>
        
        <pathOfID id="INTEGRATION_import_FILE_URI_ACS">C:/Users/legua/Documents/HIWI/Eclipse/Workspace/SolidityAccessControlEnforcement/Projects/MissingRoleRelationAdder/Augur.accesscontrolsystem</pathOfID>
        <pathOfID id="INTEGRATION_import_FILE_URI_SCM">C:/Users/legua/Documents/HIWI/Eclipse/Workspace/SolidityAccessControlEnforcement/Projects/MissingRoleRelationAdder/Market.smartcontractmodel</pathOfID>
        <pathOfID id="INTEGRATION_import_JSON_FILE_URI">C:/Users/legua/Documents/HIWI/Eclipse/Workspace/SolidityAccessControlEnforcement/Projects/MissingRoleRelationAdder/data/SolidityRoleAdapter - Results.json</pathOfID>
        <pathOfID id="INTEGRATION_export_FILE_URI_UPDATED_ACS">C:/Users/legua/Documents/HIWI/Eclipse/Workspace/SolidityAccessControlEnforcement/Projects/MissingRoleRelationAdder/Augur_modified.accesscontrolsystem</pathOfID>

    </pathsOfIDs>
        
</configuration>