<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.kit.kastel.sdq.analysiscouplingframework.joanaexample.RunnerHandler"
            id="edu.kit.kastel.sdq.analysiscouplingframework.joanaexample.commands.runConfig"
            name="Run Configuration">
      </command>
      <command
            defaultHandler="edu.kit.kastel.sdq.analysiscouplingframework.joanaexample.iterative.IterativeRunnerHandler"
            id="edu.kit.kastel.sdq.analysiscouplingframework.joanaexample.commands.runIterativeConfig"
            name="Run Configuration (iterative)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="edu.kit.kastel.sdq.analysiscouplingframework.joanaexample.beforeseparator"
               visible="true">
         </separator>
         <menu
               id="edu.kit.kastel.sdq.analysiscouplingframework.joanaexample.menus.couplingFrameworkRunner"
               label="Coupling Framework"
               mnemonic="M">
            <command
                  commandId="edu.kit.kastel.sdq.analysiscouplingframework.joanaexample.commands.runConfig"
                  id="edu.kit.kastel.sdq.analysiscouplingframework.joanaexample.menus.couplingFrameworkRunner"
                  mnemonic="S"
                  tooltip="Runs the Coupling Framework with the selected config.xml file">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="CONFIG.xml">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="edu.kit.kastel.sdq.analysiscouplingframework.joanaexample.commands.runIterativeConfig"
                  id="edu.kit.kastel.sdq.analysiscouplingframework.joanaexample.menus.couplingFrameworkRunner"
                  mnemonic="S"
                  tooltip="Runs the Coupling Framework with the selected config.xml file and iteration_config.json file">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <count
                              value="2">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <or>
                                 <test
                                       property="org.eclipse.core.resources.name"
                                       value="CONFIG.xml">
                                 </test>
                                 <test
                                       property="org.eclipse.core.resources.name"
                                       value="ITERATION_CONFIG.json">
                                 </test>
                              </or>
                           </adapt>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <separator
               name="edu.kit.kastel.sdq.analysiscouplingframework.joanaexample.afterseparator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>

</plugin>
